.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #07ffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    margin-top: 50px;
    
}

.registro-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #07ffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .label-login {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .input-login {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .button-login {
    width: 110%; 
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .button-registrar {
    width: 100%; 
    background-color: #00ffeaab;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-login:hover {
    background-color: #45a049;
  }
  
  .webcam {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  

  /*Para la camar*/
.camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  
  
  .webcam {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }